@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: Sora;
  src: url("/fonts/Sora-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-weight: 500;
  font-family: Sora;
  src: url("/fonts/Sora-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-weight: 700;
  font-family: Sora;
  src: url("/fonts/Sora-Bold.woff2") format("woff2");
}
