// colors
$primary-background: #5535be;
$primary-color: #030021;
$secondary-color: #13e984;

$primary-icon-color: #ffffff;
$secondary-progress: rgba(255, 255, 255, 0.42);

$size-radius-button: 100%;

$ui-mobile: 768px;

// mixins

@mixin ui-mobile-only {
  @media (max-width: ($ui-mobile - 1px)) {
    @content;
  }
}
